# << Ansible managed file >>
# {{strongswan_secrets_file}} - strongSwan IPsec secrets file

: RSA "{{ strongswan_server_key }}"

{% for s in strongswan_secrets %}
{{s.left|default()}} {{s.right|default()}} : {{s.type|default('PSK')}} {{s.credentials}}
{% endfor %}

{% for s in strongswan_secrets_num %}
user{{ s }} : EAP "pass{{ s }}"
{% endfor %}
